<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BluetoothCommunication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>844C59931BF1FDC500AE17AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844C59A91BF1FDC600AE17AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844C59B41BF1FDC600AE17AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
